section.about#about
    img(src="static/images/content/brw.svg" width="" height="" alt="Большое русское вино").about__logo
    .about__info
        p.about__description Звёздная коллекция от признанных и самых прогрессивных отечественных виноделов и хозяйств, эксклюзивно только в SimpleWine!
        a(href="" target="_self").about__link Подробнее о винах
