section.calendar#calendar
    h2.calendar__title.section-title Календарь событий 2022
    
    .calendar__list.swiper-contnainer-calendar
        .swiper-wrapper
            +calendarItem('12.06', '12-06-2022', 'calendar-1', 'Wine Picnic 2022', 'Ежегодное уикенд-мероприятие от Российской ассоциации сомелье. Традиционно пикник пройдет на открытом воздухе, на берегу Пироговского водохранилища в Яхт-клубе «Галс».', '')
            +calendarItem('14.06', '14-06-2022', 'calendar-2', 'Фестиваль российского джина GinFest’22', 'Фестиваль состоится 11 июня 2022 года, в Международный день джина, на площадке бара Spiritory в Москве.', '')
            +calendarItem('12.06', '12-06-2022', 'calendar-3', 'Wine Picnic 2022', 'Ежегодное уикенд-мероприятие от Российской ассоциации сомелье. Традиционно пикник пройдет на открытом воздухе, на берегу Пироговского водохранилища в Яхт-клубе «Галс». ', '')
            +calendarItem('14.06', '14-06-2022', 'calendar-2', 'Фестиваль российского джина GinFest’22', 'Фестиваль состоится 11 июня 2022 года, в Международный день джина, на площадке бара Spiritory в Москве.', '')
            .calendar__item.swiper-slide.calendar__item--last
                a(href="#" target="_self").calendar__link.calendar__link--last Все события
