section.guide#guide
    h2.guide__title.section-title Гид
    
    picture.guide__frame
        source(srcset="static/images/content/guide-bg.webp" type="image/webp")
        img(src="static/images/content/guide-bg.jpg" width="" height="" alt="").guide__frame-image
    .guide__info
        b.guide__preview Скачайте печатную версию путеводителя.
        p.guide__description Здесь вы сможете открыть для себя более подробные маршруты по популярным туристическим направлениям России, дополненные ресторанами с лучшими российскими винными картами, рекомендованными экспертами Simple Wine News.
        a(href="#" target="_self").guide__link Скачать PDF
