section.intro
    h1.intro__title
        picture.intro__title-frame
            source(media="(min-width: 1200px)" srcset="static/images/content/logo-desktop.svg")
            img(src="static/images/content/intro-logo.svg" width="" height="" alt="Большое русское вино").intro__title-img
    picture.intro__frame
        source(media="(min-width: 1200px)" srcset="static/images/content/intro-bg-lg.webp 1x, static/images/content/intro-bg-lg_2x.webp 2x" type="image/webp")
        source(media="(min-width: 1200px)" srcset="static/images/content/intro-bg-lg.png")
        source(media="(min-width: 768px)" srcset="static/images/content/intro-bg-tb.webp 1x, static/images/content/intro-bg-tb_2x.webp 2x" type="image/webp")
        source(media="(min-width: 768px)" srcset="static/images/content/intro-bg-tb.png")
        source(srcset="static/images/content/intro-bg-mb.webp 1x, static/images/content/intro-bg-mb_2x.webp 2x" type="image/webp")
        img(src="static/images/content/intro-bg-mb.png" width="" height="" alt="Большое русское вино")
    p.intro__description Мы собрали винные маршруты по городам России, список ресторанов с лучшей подборкой российских вин, отелей, винотек, афишу интересных мероприятий и новости отечественного виноделия
