section.intro
    h1.intro__title
        picture.intro__title-frame
            source(media="(min-width: 1330px)" srcset="static/images/content/logo-desktop.svg")
            img(src="static/images/content/intro-logo.svg" width="" height="" alt="Большое русское вино").intro__title-img
    picture.intro__frame
        source(media="(min-width: 1330px)" srcset="static/images/content/intro-bg-1300.webp" type="image/webp")
        source(media="(min-width: 1330px)" srcset="static/images/content/intro-bg-1300.jpg")
        source(media="(min-width: 768px)" srcset="static/images/content/intro-bg-768.webp" type="image/webp")
        source(media="(min-width: 768px)" srcset="static/images/content/intro-bg-768.jpg")
        source(srcset="static/images/content/intro-bg.webp" type="image/webp")
        img(src="static/images/content/intro-bgframe.jpg" width="" height="" alt="Большое русское вино")
    p.intro__description Мы собрали винные маршруты по городам России, список ресторанов с лучшей подборкой российских вин, афишу интересных мероприятий и новости отечественного виноделия
