section.news#news
    h2.news__title.section-title Статьи
    
    ul.news__list
        +newsItem('news-1', 'Максим Горелик: «Люди говорят, что надо выходить из зоны комфорта, а я ее создаю»', 'Шеф-бармен Lucky Group рассказал SWN, в чем разница между барами Москвы и Петербурга, какие коктейли пьют сегодня и с чем смешивать саке.', '')
        +newsItem('news-2', 'Вина Умбрии: что нужно знать', 'Умбрия, не имеющая выхода к морю, оставляется без должного внимания. Не слишком известны и ее вина. А ведь региону есть что предложить!', '')
        +newsItem('news-3', 'Ресторанные новости мая', 'Как выглядит рамен без воды, где наливают коктейль с бриллиантом и куда идти пить саке этой весной?', '')
        +newsItem('news-4', 'Вдохновение: идеальный пикник или обед на природе', 'Чек-лист по подготовке к приему гостей на майских праздниках.', '')
    button(type="button").news__btn Все Статьи
