.popup-city
    .popup-city__wrapper
        button(type="button").popup-city__closer
        
        h3.popup-city__title Выберите город
        ul.popup-city__list
            li.popup-city__item
                span Москва
            li.popup-city__item
                span Санкт-Петербург
            li.popup-city__item
                span Новосибирск
            li.popup-city__item
                span Екатеринбург
            li.popup-city__item
                span Казань
            li.popup-city__item
                span Нижний Новгород
            li.popup-city__item
                span Челябинск
            li.popup-city__item
                span Самара
            li.popup-city__item
                span Москва
            li.popup-city__item
                span Санкт-Петербург
            li.popup-city__item
                span Новосибирск
            li.popup-city__item
                span Екатеринбург
            li.popup-city__item
                span Казань
            li.popup-city__item
                span Нижний Новгород
            li.popup-city__item
                span Челябинск
            li.popup-city__item
                span Самара
