.popup-age
    .popup-age__wrapper
        b.popup-age__nr 18+
        p.popup-age__description Продолжая пользоваться сайтом, вы подтверждаете, что вам больше 18 лет, и соглашаетесь с политикой обработки персональных данных
        button(type="submit").popup-age__submit Ок, мне больше 18
