section.test
    picture.test__bg
        source(srcset="static/images/content/test-bg.webp" type="image/webp")
        img(src="static/images/content/test-bg.jpg" width="" height="" alt="").test__bg-image
    .test__info
        h2.test__title.section-title Тест
        p.test__description Дух какого крепкого напитка в&nbsp;вас живет?
        span.test__about Для тех, кого каждый год мучает вопрос, что подарить любимой женщине, маме, сестре, подруге?
        a(href="#" target="_self").test__link Пройти тест
