.footer {
    width: 100%;

    @include flex-setting(column, flex-start, center);
    --width: calc(100% - 335px);
    padding: toRem(40) calc(var(--width) / 2);

    background-color: #252525;

    &__head {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        padding-bottom: toRem(40);
        border-bottom: 1px solid #333333;
    }

    &__title {
        margin-bottom: toRem(40);
    }

    &__form {
        width: 100%;
        @include flex-setting(column, center, center);

        &.submitted {
            justify-content: center;
            .footer__form-item {
                display: none;
            }

            .footer__form-success {
                display: block;
                text-align: center;
                align-self: center;
            }

            .footer__form-title {
                display: none;
            }
        }

        &-title {
            display: none;
        }

        &-item {
            width: 100%;
            height: toRem(57);
            position: relative;
        }

        &-input {
            width: 100%;
            height: 100%;
            background-color: #333333;
            border: none;
            border-bottom: 1px solid transparent;
            padding: toRem(16) toRem(60) toRem(16) toRem(20);

            @include font-setting($primary-font, toRem(14), toRem(20), 400, #E4E4E5);
            transition: 0.3s $cubic;

            &:active,
            &:focus {
                border-color: #E4E4E5;
                transition: 0.3s $cubic;
            }

            &.valid {
                border-color: #E4E4E5;
                transition: 0.3s $cubic;

                & ~ .footer__form-submit {
                    background-color: #E4E4E5;
                    background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.7071 8.70711C19.0976 8.31658 19.0976 7.68342 18.7071 7.29289L12.3431 0.928932C11.9526 0.538408 11.3195 0.538408 10.9289 0.928932C10.5384 1.31946 10.5384 1.95262 10.9289 2.34315L16.5858 8L10.9289 13.6569C10.5384 14.0474 10.5384 14.6805 10.9289 15.0711C11.3195 15.4616 11.9526 15.4616 12.3431 15.0711L18.7071 8.70711ZM0 9H18V7H0V9Z' fill='%23333333'/%3E%3C/svg%3E%0A");
                    transition: 0.3s $cubic;
                }
            }

            &.invalid {
                border-color: #FF0000;
                transition: 0.3s $cubic;

                .footer__form-error {
                    display: inline-flex;
                }
            }
        }

        &-error {
            position: absolute;
            @include font-setting($primary-font, toRem(12), toRem(20), 400, #FF0000);
            left: 0;
            bottom: toRem(-30);
        }

        &-submit {
            @include flex-setting(column, center, center);
            position: absolute;
            width: toRem(60);
            height: 100%;
            font-size: 0;
            background-color: transparent;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg width='19' height='16' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.7071 8.70711C19.0976 8.31658 19.0976 7.68342 18.7071 7.29289L12.3431 0.928932C11.9526 0.538408 11.3195 0.538408 10.9289 0.928932C10.5384 1.31946 10.5384 1.95262 10.9289 2.34315L16.5858 8L10.9289 13.6569C10.5384 14.0474 10.5384 14.6805 10.9289 15.0711C11.3195 15.4616 11.9526 15.4616 12.3431 15.0711L18.7071 8.70711ZM0 9H18V7H0V9Z' fill='%23E4E4E5'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-size: toRem(19) toRem(16);
            border: none;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &-success {
            @include font-setting($primary-font, toRem(22), toRem(25), 400, $white);
            text-align: left;
            display: none;
            padding: toRem(16) 0 toRem(16) toRem(72);
            position: relative;

            &::before {
                position: absolute;
                content: '';

                width: toRem(57);
                height: toRem(57);
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='30' cy='30' r='30' fill='%2300DA01'/%3E%3Cpath d='M27.5 36L26.8217 36.7348L27.5591 37.4154L28.2372 36.6757L27.5 36ZM39.2372 24.6757C39.6103 24.2686 39.5828 23.636 39.1757 23.2628C38.7686 22.8897 38.136 22.9172 37.7628 23.3243L39.2372 24.6757ZM20.3217 30.7348L26.8217 36.7348L28.1783 35.2652L21.6783 29.2652L20.3217 30.7348ZM28.2372 36.6757L39.2372 24.6757L37.7628 23.3243L26.7628 35.3243L28.2372 36.6757Z' fill='%231A1A1A'/%3E%3C/svg%3E");
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);

        padding: toRem(40) 0;
        gap: toRem(15);
        border-bottom: 1px solid #333333;

        &-item {
            width: 100%;
            display: inline-flex;
        }

        &-link {
            @include font-setting($primary-font, toRem(16), toRem(18), 400, #E4E4E5);
            text-decoration: none;
        }
    }

    &__info {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        padding: toRem(35) 0;
        gap: toRem(15);

        &-link {
            @include font-setting($primary-font, toRem(14), toRem(16), 400, #6C6C6C);
            text-decoration: none;
        }

        &-copy {
            @include font-setting($primary-font, toRem(14), toRem(16), 400, #6C6C6C);
        }
    }

    &__age {
        @include flex-setting(column, center, center);
        width: toRem(50);
        height: toRem(50);
        border: 1px solid #3E3E3E;
        border-radius: toRem(25);
        background-color: transparent;

        span {
            @include font-setting($primary-font, toRem(14), toRem(16), 400, #3E3E3E);
        }
    }
}
@include min-screen(768px) {
    .footer {
        --width: calc(100% - 708px);
        padding-top: toRem(60);
        padding-bottom: toRem(60);

        position: relative;

        &__head {
            padding-bottom: toRem(80);
        }

        &__title {
            margin-bottom: toRem(60);
        }

        &__form {
            padding: 0 toRem(62);
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            &-item {
                width: 100%;
                @include flex-setting(row, flex-end, center);
                position: relative;
            }

            &-input {
                width: 100%;
                max-width: toRem(386);
                background-color: #333333;
                border: none;
                border-bottom: 1px solid transparent;
                padding: toRem(18) toRem(20);
                margin-right: toRem(20);

                &.valid {
                    & ~ .footer__form-submit {
                        background-color: #252525;
                        color: #E4E4E5;
                    }
                }
            }

            &-submit {
                position: relative;
                width: auto;
                height: 100%;
                @include font-setting($primary-font, toRem(11), toRem(13), 700, #E4E4E5);
                padding: toRem(21) toRem(39);
                text-transform: uppercase;
                letter-spacing: 0.05em;
                background-color: #252525;
                background-image: none;
                border: 1px solid #333333;
                top: auto;
                right: auto;
                transform: none;

                transition: 0.3s $cubic;
                cursor: pointer;

                &:hover,
                &:active,
                &:focus {
                    background-color: #E4E4E5;
                    color: #1A1A1A;
                    transition: 0.3s $cubic;
                }
            }

            &-success {
                padding: toRem(12) 0 toRem(12) toRem(80);
                font-size: toRem(32);
                line-height: toRem(36);
                position: relative;

                &::before {
                    width: toRem(60);
                    height: toRem(60);
                }
            }

            &-error {
                position: absolute;
                @include font-setting($primary-font, toRem(12), toRem(20), 400, #FF0000);
                left: toRem(0);
                bottom: toRem(-30);
            }
        }

        &__list {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: toRem(30);

            &-item {
                width: auto;
            }

            &-link {
                font-size: toRem(15);
                line-height: toRem(17);
            }
        }

        &__info {
            max-width: toRem(461);
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: toRem(60) 0 0 0;
            gap: toRem(60) toRem(40);

            &-copy {
                max-width: toRem(294);
                padding: toRem(9) 0 toRem(9) toRem(70);
            }
        }

        &__age {
            position: absolute;
            --width: calc(100% - 293px);
            left: calc(var(--width) / 2);
            bottom: toRem(60);
        }
    }
}
@include min-screen(1330px) {
    .footer {
        --width: calc(100% - 1170px);

        &__form {
            padding: 0;

            &-title {
                display: block;
                @include font-setting($primary-font, toRem(32), toRem(36), 400, #E4E4E5);
                white-space: nowrap;
            }

            &-error {
                left: toRem(94);
            }
        }

        &__list {
            gap: 0;

            &-item {
                margin-right: toRem(40);

                &:last-of-type {
                    margin-right: 0;
                }
            }

            &-link {
                font-size: toRem(18);
                line-height: toRem(20);
            }
        }
    }
}
@include min-screen(1920px) {
    .footer {
        --width: calc(100% - 1600px);
        padding-top: toRem(80);
        padding-bottom: toRem(80);

        &__title {
            margin-bottom: toRem(80);
        }

        &__head {
            padding-bottom: toRem(136);
        }

        &__form {
            max-width: toRem(1170);
        }

        &__list {
            &-item {
                margin-right: toRem(100);

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }

        &__info {
            padding-top: toRem(80);
            max-width: toRem(542);
            gap: toRem(100) toRem(60);

            &-link {
                font-size: toRem(16);
                line-height: toRem(18);
            }

            &-copy {
                padding-left: toRem(90);
                padding-top: toRem(9);
                padding-bottom: toRem(9);
                font-size: toRem(16);
                line-height: toRem(18);
                max-width: toRem(344);
            }
        }

        &__age {
            --width: calc(100% - 344px);
            bottom: toRem(80);
            width: toRem(60);
            height: toRem(60);
            border-radius: toRem(30);

            span {
                font-size: toRem(18);
                line-height: toRem(20);
            }
        }
    }
}
