.news {
    width: 100%;
    @include flex-setting(column, flex-start, center);
    --width: calc(100% - 335px);
    padding: 0 calc(var(--width) / 2);
    margin-bottom: toRem(60);

    a {
        text-decoration: none;
    }

    &__title {
        margin-bottom: toRem(40);
        color: #000;
    }

    &__list {
        width: 100%;
        @include flex-setting(column, flex-start, center);

        gap: toRem(40);
        margin-bottom: toRem(40);
    }

    &__item {
        width: 100%;
        @include flex-setting(column, center, center);
    }

    &__link {
        width: 100%;
        @include flex-setting(column, flex-start, flex-start);
        text-decoration: none;
    }

    &__frame {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 65.67164179104478%;
        margin-bottom: toRem(20);

        &-image {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            object-fit: cover;
        }
    }

    &__name {
        @include font-setting($primary-font, toRem(22), toRem(25), 400, #000);
        text-align: left;
        margin-bottom: toRem(10);
    }

    &__description {
        @include font-setting($primary-font, toRem(14), toRem(20), 400, #6C6C6C);
        text-align: left;
    }

    &__btn {
        width: auto;
        @include flex-setting(column, center, center);
        @include font-setting($primary-font, toRem(11), toRem(13), 700, #1a1a1a);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #1a1a1a;
        background-color: #fff;
        padding: toRem(21) toRem(39);
        margin-bottom: toRem(60);
        transition: 0.3s $cubic;
        text-decoration: none;
        cursor: pointer;
        outline: none;

        &:active {
            background-color: #FF0181;
            border-color: #FF0181;
            color: #fff;
            transition: 0.3s $cubic;
        }
    }
}

@include min-screen(768px) {
    .news {
        --width: calc(100% - 708px);
        margin-bottom: toRem(80);

        &__title {
            margin-bottom: toRem(50);
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: toRem(38);
            align-items: start;
            grid-row-gap: toRem(40);
            margin-bottom: toRem(60);

            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: toRem(1);
                height: 100%;
                background-color: #E4E4E5;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

            }
        }

        &__frame {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            margin-bottom: toRem(20);

            &-image {
                position: relative;
                width: 100%;
                height: 100%;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                object-fit: cover;
                object-position: center;
            }
        }

        &__name {
            margin-bottom: toRem(10);
        }

        &__btn {
            margin-bottom: 0;

            &:hover {
                background-color: #1a1a1a;
                border-color: #1a1a1a;
                color: #fff;
                transition: 0.3s $cubic;
            }

            &:active {
                background-color: #FF0181;
                border-color: #FF0181;
                color: #fff;
                transition: 0.3s $cubic;
            }
        }
    }
}

@include min-screen(1200px) {
    .news {
        --width: calc(100% - 1140px);
        margin-bottom: toRem(160);

        &__title {
            margin-bottom: toRem(60);
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: toRem(260);
            align-items: start;
            grid-row-gap: toRem(80);
            margin-bottom: toRem(60);

            position: relative;

            &::after {
                position: absolute;
                content: '';

                width: toRem(1);
                height: 100%;
                background-color: #E4E4E5;
                top: 0;
                left: 50%;
                transform: translateX(-50%);

            }
        }

        &__frame {
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            margin-bottom: toRem(20);

            &-image {
                position: relative;
                width: 100%;
                height: 100%;
                top: auto;
                left: auto;
                right: auto;
                bottom: auto;
                object-fit: cover;
                object-position: center;
            }
        }

        &__name {
            margin-bottom: toRem(15);
        }

        &__description {
            font-size: toRem(17);
            line-height: toRem(25);
        }

        &__btn {
            &:hover {
                background-color: #1a1a1a;
                border-color: #1a1a1a;
                color: #fff;
                transition: 0.3s $cubic;
            }

            &:active {
                background-color: #FF0181;
                border-color: #FF0181;
                color: #fff;
                transition: 0.3s $cubic;
            }
        }
    }
}

@include min-screen(1920px) {
    .news {
        --width: calc(100% - 1280px);
        margin-bottom: toRem(200);

        &__title {
            margin-bottom: toRem(80);
        }

        &__list {
            grid-column-gap: toRem(400);
            grid-row-gap: toRem(115);
            margin-bottom: toRem(110);
        }

        &__name {
            margin-bottom: toRem(15);
        }

        &__description {
            font-size: toRem(17);
            line-height: toRem(25);
        }

        &__btn {
            font-size: toRem(14);
            line-height: toRem(16);
        }
    }
}
